:root {
  --white: #ffffff;
  --soft-white: #c9c8c8;
  --dark: #3a3f47;
  --darker: #242a32;
  --light-green: #3dbd93;
  --sm: 1.4rem;
  --md: 1.6rem;
  --lg: 1.9rem;
  --font-family-title: "Roboto", sans-serif;
  --font-family-text: "Quicksand", sans-serif;
}
body {
  background-color: var(--darker);
  color: var(--soft-white);
  font-size: var(--md);
  min-width: 320px;
  font-family: var(--font-family-text);
}

.header {
  margin: 0 20px 12px 20px;
}

.header__title {
  text-align: center;
  font-family: var(--font-family-title);
  cursor: pointer;
}

.header__title--bold-500,
.main_cardsHeadTitle {
  font-weight: 500;
}

.header__title--color,
.main_cardsHeadTitle {
  color: var(--light-green);
}

.header__text {
  margin-bottom: 10px;
  font-size: var(--lg);
}

.header__text--bold-600 {
  font-weight: 600;
}

.header__container {
  border-radius: 15px;
  border: 1px solid var(--dark);
  display: flex;
  justify-content: baseline;
}
.header__container:hover {
  box-shadow: 0 1px 5px 0 var(--light-green);
  border-color: var(--light-green);
}

.header__containerInput {
  width: 100%;
  height: 35px;
  padding: 0 15px;
  border: none;
  outline: none;
  border-radius: 14px 0 0 14px;
}

.header__containerInput--bgColor {
  background-color: var(--dark);
}

.header__containerInput--textColor {
  color: var(--soft-white);
}

.header__containerIcon {
  margin: 0 10px;
  width: 20px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.header__containerIcon:hover {
  cursor: pointer;
}

.main_text {
  margin-top: 20px;
  margin-bottom: 5px;
}

.main__categoriesPreview::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 3px;
}

.main__categoriesPreview::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 5px;
}

.main__categoriesPreview {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.main__categoriesPreviewBtn {
  height: 32px;
  width: 110px;
  margin: 5px 5px;
  background-color: var(--dark);
  border: none;
  font-size: var(--sm);
  color: var(--soft-white);
  border-radius: 16px;
}

.main__categoriesPreviewBtn:hover,
.main__trendsBtn:hover,
.main__backBtn:hover {
  box-shadow: 0 1px 5px var(--light-green);
  color: var(--light-green);
  cursor: pointer;
}

.main_sectionTrends {
  margin: 20px 20px 12px 20px;
}

.main_sectionTrends::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 5px;
}

.main_sectionTrends::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 5px;
}

.main_trendsContainer,
.main__cardsHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__trendsBtn,
.main__backBtn {
  width: 100px;
  height: 32px;
  background-color: var(--dark);
  border: none;
  font-size: var(--sm);
  color: var(--soft-white);
  border-radius: 16px;
  text-align: center;
}
.main__trendsIcon {
  position: relative;
  top: 3px;
  left: 3px;
}

.main__trendsPreview {
  margin-top: 5px;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.main__trendsPreviewImg {
  height: 230px;
  border-radius: 20px;
  margin: 5px;
  box-shadow: 0 1px 5px 0 var(--light-green);
}

.main_sectionCategories,
.main__sectionCards {
  margin: 0 20px;
}

.main_cardsHeadTitle {
  font-family: var(--font-family-title);
  font-weight: 600;
}

.main__backBtn {
  width: 80px;
}

.main__backBtnIcon {
  position: relative;
  top: 2px;
  right: 3px;
}

.main__cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.main__cardImg {
  width: 250px;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 1px 3px 0 var(--light-green);
  object-fit: contain;
}

.main__cardContainerInfo {
  width: 250px;
  height: 150px;
  border-radius: 0 0 20px 20px;
  background-color: var(--dark);
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 3px 0 var(--light-green);
}

.main__cardTitleText {
  font-size: var(--lg);
  font-weight: 700;
  color: var(--light-green);
  margin-bottom: 10px;
}

.main__cardReleaseDate {
  font-size: var(--sm);
  display: inline-block;
  margin-right: 5px;
}

.main__cardReleaseDateText {
  display: inline-block;
  font-size: var(--md);
}

.main__cardInfoSecundary {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 100%;
  margin-bottom: 3px;
  color: var(--light-green);
}

.main__cardInfoSecundaryStar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inactive {
  display: none;
}

.main__fullInfoArticle {
  display: grid;
  grid-template-areas:
    "back-poster back-poster"
    "poster icons"
    "title title"
    "genres genres"
    "overview overview"
    "release-date rate-count"
    "relelated-text relelated-text"
    "relelated-movies relelated-movies"
    "back-btn back-btn";
  grid-auto-columns: 130px auto;
}

.main__infoBackPoster {
  grid-area: back-poster;
  object-fit: cover;
  width: 100%;
  border-radius: 0 0 15px 15px;
  opacity: 0.5;
}

.main__infoPoster {
  grid-area: poster;
  object-fit: contain;
  height: 150px;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 var(--light-green);
  margin-left: 15px;
  position: absolute;
  top: 100px;
  display: block;
}

.main__infoIcons {
  grid-area: icons;
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 20px 0;
  color: var(--light-green);
}

.main__infoTitle {
  grid-area: title;
  margin: 10px 15px;
  color: var(--light-green);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: var(--lg);
}

.main__infoGenres {
  grid-area: genres;
  color: var(--light-green);
  margin-left: 15px;
}

.main__infoOverview {
  grid-area: overview;
  margin: 5px 15px;
  text-align: justify;
  line-height: 1.5;
}

.main__infoReleaseDate {
  grid-area: release-date;
  margin: 15px;
}

.main__infoRateCount {
  grid-area: rate-count;
  text-align: end;
  margin: 15px;
}

.main__infoRelatedMoviesText{
  grid-area: relelated-text;
  font-size: var(--lg);
  font-weight: 700;
  margin: 20px 15px 10px 15px;
}

.main__infoRelatedMovies {
  grid-area: relelated-movies;
  margin: 0 15px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.main__infobackBtn {
  grid-area: back-btn;
  width: 100px;
  height: 32px;
  background-color: var(--dark);
  border: none;
  font-size: var(--sm);
  color: var(--soft-white);
  border-radius: 16px;
  text-align: center;
  margin: 25px 15px 30px 15px;
}

.main__infobackBtn:hover {
  grid-area: back-btn;
  box-shadow: 0 1px 5px var(--light-green);
  color: var(--light-green);
  cursor: pointer;
}

.main__infobackBtnIcon {
  grid-area: back-btn;
  position: relative;
  top: 2px;
  right: 3px;
}